body {
  margin: auto;
  padding: 10px 30px;

}

h1 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 100px;
}

.aboutUs {
  padding-bottom: 30px;
  text-align: center;
  font-size: 60px;
}

.rightColumn {
  position: absolute;
  top: 420px;
  right: 10px;
  width: 20%;
  border: 3px solid black;
  border-radius: 5px;
  background-color: #E8EBF7;
  padding: 10px 0 10px -30px;

}

.leftColumn {
  margin:right;
  width: 70%;
}
.eventDates > li {
  padding-bottom: 15px
}

ul.eventDates {
  list-style-type: none;
}

.tourDate {
  text-decoration: underline;
}
li.tourLocation {

}

.soldOut {
  text-decoration: line-through;
  text-decoration-color: red;
  text-emphasis: bold;
}

.soldOut:after {
  content: "<br><span class="soldOutText">"Sold Out"</span>";
}
img.floatLeft{
  float: left;
  margin-right: 20px;
}
